/* stylelint-disable */

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b,
strong {
  font-weight: 700;
}

button,
select {
  text-transform: none;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn,
i {
  font-style: italic;
}

mark {
  color: #000;
  background: transparent;
}

progress {
  vertical-align: baseline;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

small {
  font-size: .8em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

textarea {
  overflow: auto;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

template,
[hidden] {
  display: none;
}

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.overflow {
  overflow: hidden;
}

/* stylelint-disable */

.btn {
  display: inline-block;
  padding: 13px 58px;
  font-weight: 400;
  background-color: #3E9CDC;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}

.btn_white {
  background-color: #fff;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}

.btn_white:hover {
  background-color: #3E9CDC;
  border: 1px solid #fff;
  color: #fff;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container_fluid {
  padding-right: 15px;
  padding-left: 15px;
}

/* stylelint-disable */

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Heavy.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@charset "UTF-8";

.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}

.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.jq-selectbox {
  z-index: 10;
}

.jq-selectbox__select {
  position: relative;
}

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.jq-selectbox__dropdown {
  position: absolute;
}

.jq-selectbox__search input {
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.jq-number {
  display: inline-block;
}

.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}

.jq-checkbox,
.jq-radio {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}

.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #08C;
}

.jq-checkbox.disabled,
.jq-radio.disabled {
  opacity: .55;
}

.jq-checkbox {
  border-radius: 3px;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 3px 0 0 3px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.jq-radio {
  border-radius: 50%;
}

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #777;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jq-file {
  width: 270px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.jq-file input {
  cursor: pointer;
}

.jq-file__name {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
  box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
}

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}

.jq-file:hover .jq-file__browse {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF;
}

.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0;
}

.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
}

.jq-number__field:hover {
  border-color: #B3B3B3;
}

.jq-number__field input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}

.jq-number__spin.minus {
  top: auto;
  bottom: 0;
}

.jq-number__spin:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-number__spin:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
}

.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}

.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}

.jq-number__spin.plus:hover:after {
  border-bottom-color: #000;
}

.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF;
}

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA;
}

.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA;
}

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}

.jq-selectbox__select:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-selectbox__select:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF;
}

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
}

.jq-selectbox .placeholder {
  color: #888;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #CCC;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20;
}

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}

.jq-selectbox li.disabled {
  color: #AAA;
}

.jq-selectbox li.disabled:hover {
  background: none;
}

.jq-selectbox li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-select-multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}

.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
}

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

.jq-select-multiple li.disabled {
  color: #AAA;
}

.jq-select-multiple li.optgroup {
  font-weight: bold;
}

.jq-select-multiple li.option {
  padding-left: 25px;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
}

input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea.styler {
  overflow: auto;
}

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}

input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}

button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.face {
  background-image: url("../media/face/face.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}

.face__title {
  max-width: 780px;
  margin-bottom: 80px;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3E9CDC;
}

.face__title mark {
  color: #000;
}

.face__subtitle {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.face__list {
  margin-bottom: 95px;
  list-style-type: none;
}

.face__list li {
  font-size: 20px;
}

.face__list li + li {
  margin-top: 2px;
}

.face__btn + .face__btn {
  margin-left: 30px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3D4050;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__defender {
  font-size: 13px;
  color: #fff;
}

.footer__defender span {
  text-transform: uppercase;
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  padding-right: 30px;
  margin-left: 30px;
  padding-left: 30px;
}

.footer__pay-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__pay-item img {
  margin-right: 10px;
}

.footer__pay-item span {
  color: #C3C3C3;
  font-size: 13px;
}

.footer__pay-item + .footer__pay-item {
  margin-left: 35px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.footer__contacts-item img {
  margin-right: 10px;
}

.footer__contacts-item span {
  color: #fff;
  font-size: 13px;
}

.footer__contacts-item + .footer__contacts-item {
  margin-left: 35px;
}

.form .jq-file {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
}

.form .jq-file__name {
  position: relative;
  width: auto;
  height: 44px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-left: 25px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #272733;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.form .jq-file__name::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background-image: url("../media/form/file.png");
  background-repeat: no-repeat;
}

.form .jq-file__browse {
  display: none;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.form__row + .form__row {
  margin-top: 30px;
}

.form__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 33.333%;
}

.form__item_fullwidth {
  max-width: 100%;
}

.form__item_center {
  margin-right: auto;
  margin-left: auto;
}

.form__field {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-size: 18px;
  color: #272733;
  padding: 12px 15px;
}

.form__field::-moz-placeholder {
  color: #272733;
}

.form__field::-webkit-input-placeholder {
  color: #272733;
}

.form__select {
  width: 100%;
}

.form__select .jq-selectbox__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  padding-left: 15px;
  height: 47.59px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-shadow: none;
}

.form__select .jq-selectbox__trigger {
  border: 0;
}

.form__select .jq-selectbox__trigger-arrow {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0;
  width: 9px;
  height: 6px;
  background-image: url("../media/form/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form__select .jq-selectbox__select-text {
  line-height: 1.2;
  font-size: 18px;
  color: #272733;
  font-weight: 400;
}

.form__btn {
  width: 100%;
}

.form__range {
  width: 100%;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
  margin-bottom: 13px;
}

.form__info span {
  margin-left: 30px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__link {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
}

.nav__link + .nav__link {
  margin-left: 30px;
}

.nav__link.active {
  color: #43ABF0;
}

.nav__link:hover {
  opacity: .8;
}

.nav__burger {
  display: none;
}

.order {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../media/order/order.jpg");
  background-repeat: no-repeat;
  background-color: #272733;
  background-position: center top;
}

.order__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.order__title mark {
  color: #3e9cdc;
}

.order__subtitle {
  margin-bottom: 80px;
  color: #BBBBBB;
  text-align: center;
  font-size: 18px;
}

.order__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.order__step-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 188px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.order__step-item::before {
  position: absolute;
  top: 47px;
  right: -85px;
  width: 111px;
  height: 6px;
  background-image: url("../media/order/dot.png");
  background-repeat: no-repeat;
  content: '';
}

.order__step-item:last-child::before {
  display: none;
}

.order__step-icon {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #3E9CDC;
  border: 5px solid #286690;
  border-radius: 50%;
}

.order__step-description {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

@media (max-width: 1200px) {
  .btn {
    padding: 10px 35px;
  }

  .container {
    max-width: 768px;
  }

  .container_fullWidth {
    max-width: 100%;
  }

  .face__title {
    font-size: 32px;
    max-width: 540px;
    margin-bottom: 30px;
  }

  .face__subtitle {
    font-size: 18px;
  }

  .face__list {
    margin-bottom: 50px;
  }

  .face__list li {
    font-size: 16px;
  }

  .footer__body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__defender {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    text-align: center;
    margin-top: 15px;
    color: #C3C3C3;
  }

  .footer__pay {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 35px;
    padding-left: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .footer__contacts {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 15px;
  }

  .form__field {
    font-size: 16px;
  }

  .form__select .jq-selectbox__select-text {
    font-size: 16px;
  }

  .nav__link + .nav__link {
    margin-left: 0;
  }

  .order__step {
    margin-bottom: 20px;
  }

  .order__title {
    margin-bottom: 15px;
  }

  .order__step {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .order__step-item {
    width: 220px;
    margin-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .order__step-item::before {
    right: -55px;
  }

  .order__step-item:last-child::before {
    display: none;
  }

  .order__step-item:nth-child(3)::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }

  .container_fullWidth {
    max-width: 100%;
  }

  .face {
    background-image: url("../media/face/face-768.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  .face__title {
    font-size: 26px;
  }

  .footer__pay {
    width: 100%;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__defender {
    margin-top: 0;
  }

  .form__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .form__item {
    width: 100%;
    max-width: 100%;
  }

  .form__item + .form__item {
    margin-top: 15px;
  }

  .form__row + .form__row {
    margin-top: 15px;
  }

  .nav__body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #10101D;
  }

  .nav__body.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__burger {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
  }

  .nav__burger > svg:hover {
    fill: #f1f1f1;
  }

  .nav__link {
    padding: 15px 30px;
  }

  .order {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .order__title {
    font-size: 26px;
  }

  .order__subtitle {
    font-size: 16px;
  }

  .order__step-item::before {
    right: -55px;
  }

  .order__step-item:last-child::before {
    display: none;
  }

  .order__step-item:nth-child(3)::before {
    display: block;
  }

  .order__step-item:nth-child(2)::before {
    display: none;
  }

  .order__step-item:nth-child(4)::before {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 10px 25px;
    font-size: 11px;
  }

  .container {
    max-width: 100%;
  }

  .container_fullWidth {
    max-width: 100%;
  }

  .face {
    padding-top: 120px;
    padding-bottom: 30px;
  }

  .face__title {
    font-size: 20px;
  }

  .face__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .face__btn + .face__btn {
    margin-left: 10px;
  }

  .footer__pay {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__pay-item span {
    font-size: 12px;
  }

  .footer__pay-item img {
    margin-right: 5px;
  }

  .footer__pay-item + .footer__pay-item {
    margin-left: 5px;
  }

  .form__btn {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo {
    max-width: 220px;
  }

  .order__step-item::before {
    display: none !important;
  }
}