
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: rgba(16, 16, 29, 0.9);
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}